.content {
    background: linear-gradient(180deg, rgba(0, 150, 255, 0.5), transparent);
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-span{
    margin-top: 5vh;
}

.title {
    margin-top: 55vh;
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-size: 10vw;  
    font-weight: 700;
    color: rgba(0, 150, 255, 0.25);
}

@keyframes shake-vertical-normal {
    0%, 100% { 
        transform: translateY(0); 
    } 
    10%, 30%, 50%, 70%, 90% { 
        transform: translateY(-8px); 
    } 
    20%, 40%, 60%, 80% { 
        transform: translateY(8px); 
    } 
}

.visitBottomArrow{
    width: 4.5vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 75%;
    animation: shake-vertical-normal 10s ease 0s infinite normal none; 
}

.subtitle {
    margin-top: 5rem;
    margin-left: 2rem;
    font-size: 4em;
    font-weight: 600;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.subsubtitle {
    margin-left: 2rem;
    font-size: 2em;
    font-weight: 500;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}