.content {
  display: grid;
  grid-template-columns: 80px 1fr; 
  width: fit-content;              
  margin: 0 auto;             
  position: relative;
  padding: 2rem 0;
}

.line {
  width: 0.5vw;              
  background-color: rgb(118, 193, 255);
  border-radius: 999px;
  justify-self: center;     
  margin-right: 1vw;
  box-shadow: 0px 0px 40px 8px rgba(0,191,217,0.75);
  height: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 2rem;                  
}

.item {
  background-color: #1e1e2f;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 90%;       
  margin-left: 4rem; 
}

.head {
  display: flex;
  justify-content: space-between;
}

.text,
.head > * {
  color: white;
}
