:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content-wrapper {
  width: 100%;
  min-height: 100%;
}

.floating-bar{
  position: fixed;
  background-color: white;
  border-radius: 999px;
  display: flex;
  gap: 0.5vw;
  top: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  height: 5vh;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

.floating-bar > * {
  margin-top: 1%;
  margin-bottom: 1%;
}

.floating-bar > a {
  background-color: rgba(0, 39, 197, 0);
  border-radius: 999px;
  padding: 1em;
  transition: background-color 0.3s ease;
  text-decoration: none;

}
.floating-bar > a:hover {
  background-color: rgb(0, 39, 197, 0.25);
}
.floating-bar > a:hover,
.floating-bar > a:active,
.floating-bar > a:visited,
.floating-bar > a:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.theme-image {
  height: 4vh;
  background-color: rgba(0, 39, 197, 0);
  border-radius: 999px;
  transition: background-color 0.3s ease;
  padding: 1%;
}
.theme-image:hover {
  background-color: rgb(0, 39, 197, 0.25);
  cursor: pointer;
}

.go-to-top{
  position: fixed;
  background-color: white;
  border-radius: 100%;
  bottom: 2rem;
  right: 2rem;

  width: 3.8vw;
  height: 3.8vw;
  align-content: center;

  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.go-to-top.visible {
  opacity: 1;
  pointer-events: auto;
}

.go-to-top > .arrow {
  display: block;
  margin: auto;
  margin-bottom: 10%;

  width: 90%;
  //Animations
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 680px) {
  .content-wrapper{
    flex-direction: column;
    width: max-content;
  }
}