html { 
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: black;
}

html, body {
  height: 100%;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column; 
}

footer {
  width: 100%;       
}